/* figure -> container */
/* img -> imagem*/
/* figurecapition -> container com informações */
/* h3 -> nome*/
/* p -> informação dentro do figure caption*/
/* p -> informação dentro do figure caption*/


.speaker-card{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    background: #ffffff;


}

.speaker-card img{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 40px 40px 0px 0px;
    background: #ffffff;


}


.speaker-card figcaption{
    background: #ffffff;
    border: 5px solid palevioletred;
    border-radius:0px 0px 40px 40px;
    height: 100px;
    width: 250px;

}

.speaker-card h3{
    padding: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.speaker-card p{
    font-size: 20px;
    color: black;
    text-align: center;
}










