/* figure -> container */
/* img -> imagem*/
/* figurecapition -> container com informações */
/* h3 -> nome*/
/* p -> informação dentro do figure caption*/
/* p -> informação dentro do figure caption*/


.speaker-card{
    border: 2px solid black;
    justify-content: center;






}

.speaker-card img{
    border: 2px solid blueviolet;


}


.speaker-card figcaption{
    border: 2px solid palevioletred;

}










