
@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);






.main-content{
    width: 100%;
    height: 200vh;
    background-color: #d9d9d9;
  }




html{

}

.content-nosso-time, .content-cursos, .content-faq, .content-contato{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 255, 255)

}

.content-nosso-time{
    background: #4e0101;

}

.content-cursos{
    background: #772222;

}

.content-faq{
    background: #a53e3e;

}

.content-contato{
    background: #c27373;

}